<section id="comments" class="comments">
  <h2>コメント</h2>
    <script src="https://giscus.app/client.js"
        data-repo="stellorbit/mywebsite"
        data-repo-id="R_kgDOQn9UBg"
        data-category="General"
        data-category-id="DIC_kwDOQn9UBs4Cz0QL"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="ja"
        crossorigin="anonymous"
        async>
    </script>
</section>