name: Deploy to Firebase Hosting on merge
on:
  push:
    branches:
      - main
# 重要: OIDCトークンを発行するための権限設定
permissions:
  contents: read
  id-token: write
  checks: write

jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      # Hugoのセットアップ
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: 'latest'
          extended: true

      # Workload Identity 連携による認証
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          # ステップ1の最後に表示された長い文字列
          workload_identity_provider: 'projects/1095497309504/locations/global/workloadIdentityPools/github-pool/providers/github-provider'
          # 作成したサービスアカウントのメールアドレス
          service_account: 'github-action-sa@stellorbit-blog.iam.gserviceaccount.com'

      # ビルド
      - name: Build
        run: hugo --minify

      # デプロイ (認証情報は自動的に引き継がれます)
      - name: Deploy to Firebase
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: 'github-action-sa@stellorbit-blog.iam.gserviceaccount.com'
          channelId: live
          projectId: stellorbit-blog
